{% extends 'base.html.twig' %}

{% block body %}
	<div class="homepage-container">
		<header>
			<div class="left">
				<div class="presentation">
					<h1>Outil de veille SEO</h1>
					<p>L'agence CLEATIS, spécialiste du SEO et SEA à Lyon, partage son outil de veille sur l'actualité du SEO et du marketing digital.<br>
						Nous avons sélectionné des sources qualitatives et des tweets sur l'actualité du référencement, sur les tests réalisés par des experts dans le secteur.<br>
						N'hésitez pas à nous solliciter lors de votre choix d'un prestataire pour vos projets de référencement naturel.</p>
				</div>
				<div class="newsletter">
					<h2>Newsletter Cleatis</h2>
					<p>Reçois par e-mail les meilleures actualités de Cleatis !</p>
					<!-- Formulaire d'inscription Newsletter -->
					<div id="mc_embed_signup">
						<form action="https://cleatis.us7.list-manage.com/subscribe/post?u=2dcb41c1e4b58e0b7d32a9897&amp;id=68cead903e&amp;f_id=0065dae4f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll">
								<div class="indicates-required"><span class="asterisk">* </span>Champ requis</div>
								<div class="mc-field-group">
									<label for="mce-EMAIL">Adresse email<span class="asterisk"> *</span></label>
									<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
									<span id="mce-EMAIL-HELPERTEXT" class="helper_text">monemail@email.fr</span>
								</div>
								<div id="mce-responses" class="clear foot">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>
								<!-- Les vraies personnes ne devraient pas remplir ceci et s'attendre à de bonnes choses - ne le supprimez pas ou ne risquez pas d'inscrire des bots -->
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2dcb41c1e4b58e0b7d32a9897_68cead903e" tabindex="-1" value=""></div>
								<div class="optionalParent">
									<div class="clear foot">
										<input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button">
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- Fin du formulaire -->
				</div>
			</div>
			<div class="right">
				<div class="powered-by">
					<h2>Powered by</h2>
					<a href="https://www.cleatis.eu/" target="_blank"><img class="logo" src="{{ asset('images/logo-cleatis.webp') }}" alt="Logo Cléatis"></a>
				</div>
			</div>
		</header>
		{# Fil d'actualités #}
		<section id="fil-actualites">
			<div class="fil-actu-container">
				<div class="fil-actu-content">
					<h2>Fil D'actualités</h2>
					{% for article in articles %}
						<div class="article">
							<p class="date-article">Le {{ article.datePublication|date('d/m/Y à H:i:s') }}</p>
							<a href="{{ article.lienSource }}" target="_blank">{{ article.nomSource }}</a>
							<a class="titre-article" href="{{ path('app_article_show', {'slug': article.slug}) }}"><h3>{{ article.titre }}</h3></a>
						</div>
					{% else %}
						<p>Pas d'articles</p>
					{% endfor %}
					<div class="navigation">
						{{ knp_pagination_render(articles) }}
					</div>
				</div>
			</div>
		</section>
		{# Dernières vidéos Youtube #}
        {% include "components/youtubeVideos.html.twig" %}
	</div>
{% endblock %}