{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}
	<div class="detail-article-container">
		<div class="detail-article-content">
			<a href="#">Fil d'ariane</a>
			<p class="date-article">{{ article.datePublication ? article.datePublication|date('d-m-Y H:i:s') : '' }}</p>
			<a href="{{ article.lienSource }}" target="_blank">{{ article.nomSource }}</a>
			<h2>{{ article.titre }}</h2>
			{{ article.description|split('</figure>')|first|u.truncate(4500, '...', false)|raw }}
			<p>Lire l'article : <a href="{{ article.lienArticle }}" target="_blank">{{ article.titre }}</a></p>
		</div>
        {# Derniers articles #}
		<div class="derniers-articles">
            <h2>Derniers Articles</h2>
			{% for dernierArticle in derniersArticles %}
					<a class="titre-article" href="{{ path('app_article_show', {'id': dernierArticle.id}) }}">
						<p>{{ dernierArticle.titre }}</p>
					</a>
			{% else %}
				<p>Pas d'articles</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
