{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}
    <div class="detail-article-container">
        <div class="detail-article-content">
            <a href="#">Fil d'ariane</a>
            <p>{{ article.dateCreation ? article.dateCreation|date('d-m-Y H:i:s') : '' }}</p>
            <p>{{ article.source }}</p>
            <p>{{ article.titre }}</p>
            <p>{{ article.description }}</p>
        </div>
        <section id="evenement">
            <div class="evenement-container">
                <div class="evenement-content">
                    <h2>Derniers événements</h2>
                    <div class="media">
                        <iframe src="https://www.youtube.com/embed/_MaFgpyXzkc" loading="lazy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <iframe src="https://www.youtube.com/embed/KArixiYHi04" loading="lazy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <iframe src="https://www.youtube.com/embed/QTYPyUUgjPg" loading="lazy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <a href="https://www.youtube.com/@cleatis" class="media-btn" target="_blank">Plus de vidéos</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
